AWS_ACCESS_KEY_ID=XXXXBBAALALALAL
AWS_ENDPOINT_URL=xxxxaaaaaaa
AWS_REGION=auto
AWS_SECRET_ACCESS_KEY=XBBBBBBBBB
MASTER_KEY=XXBBBBAABAAAB
NATS_URL=nats://USER:PASS@localhost:32871
S3_BUCKET_NAME=XXXXAAAAABBBBB
